---
layout: default
title: Home
---

Hi, I am Andy. I studied mathematics and economics at the University of Bonn and EPFL, working on game theory and mechanism design, (combinatorial) optimisation and exchangeable graphs. Presently, I am working at a school in central Germany as Fellow of Teach First Deutschland.

This blog has three categories of posts: "teaching" are short descriptions of how I use tools in lessons (and mostly in German); "learning" features machine learning and math-related posts, "deciding" social scientific posts. Happy reading. 
<h1>Blog-Posts</h1>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

