---
layout: default
title: Home
---
<img src="/assets/img/img.jpg" alt ="Andy Haupt">
<p>Hi, I am Andy. I study platform markets and and designing mechanisms when information takes part as a good, or as a challenge in implementing a mechanism in reality. (PhD Student @MIT IDSS)</p>
<p>This blog has three categories of posts: "teaching" are tools and lesson plans for schools that I produced during my time as a Teach First Deutschland Fellow; "learning" features posts on topics broadly in relation to learning and data, "deciding" social scientific posts. The site also hosts my papers and has social media links.</p>
<h1>Blog-Posts</h1>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

