---
layout: default
title: Home
---
<p>Hi, I am Andy. I am a Ph.D. Candidate at MIT. I design and analyse computational institutions such as recommender systems, and repricers in ecommerce. I use Microeconomic modelling (in particular mechanism design) to make these systems more efficient, transparent and equitable.</p>
<p>This blog has three categories of posts: "recommending" features my work on recommender systems; "allocating" features my work on distributed learning and market design, "learning" shows my analyses of machine behavior, studied from an Economic lense.</p>
<h1>Blog-Posts</h1>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

